@model proyectoAsistencia.Models.Asistencia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asistencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evento.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning text-white">Editar&nbsp;<i class="fas fa-pen"></i></a>
</div>
