@using proyectoAsistencia.Utils
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<proyectoAsistencia.Models.Asistencia>
@{
    ViewData["Title"] = "Índice";
    var valorBusquedaString = ViewData["searchStringValue"]?.ToString();
}

<h3 class="mt-5 h2 text-secondary">Listado de asistencias</h3>

<div class="row mt-3 d-flex align-items-baseline">

    <div class="col-md-3 col-sm-12">
        <a asp-action="Create" class="btn btn-success">
            <i class="fas fa-calendar-check"></i>&nbsp;Nueva asistencia
        </a>
    </div>

    <div class="col-md-8 col-sm-12">
        <form asp-controller="Asistencia" asp-action="Index" method="post" class="d-flex align-items-center">
            <div class="input-group">
                <input type="date"
                       name="fechaBusqueda"
                       value="@ViewData["fechaBusquedaValue"]"
                       class="form-control w-auto">

                <select name="eventoBusqueda" class="form-control w-auto">
                    <option value="">Evento</option>
                    @foreach (var evento in ViewData["Eventos"] as SelectList)
                    {
                        @if (ViewData["eventoBusquedaValue"]?.ToString() == evento.Value)
                        {
                            <option value="@evento.Value" selected>@evento.Text</option>
                        }
                        else
                        {
                            <option value="@evento.Value">@evento.Text</option>
                        }
                    }
                </select>

                <select name="cicloBusqueda" class="form-control w-auto" asp-items="@Html.GetEnumSelectList<Ciclo>()">
                    <option value="">Selecciona el ciclo</option>
                    @if (ViewData["cicloBusquedaValue"] != null)
                    {
                        <option selected="selected" value="@ViewData["cicloBusquedaValue"]">@ViewData["cicloBusquedaValue"]</option>
                    }
                </select>

                <input type="text"
                       name="busquedaString"
                       value="@valorBusquedaString"
                       class="form-control w-auto"
                       placeholder="Buscar por nombre, apellido, código" pattern="[A-Za-z ]+"
                       oninput="this.value = this.value.replace(/[^A-Za-z ]/g, '');">

                <button class="btn btn-outline-info" type="submit">
                    <i class="fas fa-search"></i>
                </button>

                <button class="btn btn-outline-warning" asp-action="LimpiarBusqueda" type="submit">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </form>
    </div>

    <form asp-action="ExportarExcel" method="post" enctype="multipart/form-data" class="col-md-1 col-sm-12 text-end">
        <input type="hidden" name="fechaBusqueda" value="@ViewData["fechaBusquedaValue"]" />
        <input type="hidden" name="eventoBusqueda" value="@ViewData["eventoBusquedaValue"]" />
        <input type="hidden" name="cicloBusqueda" value="@ViewData["cicloBusquedaValue"]" />
        <input type="hidden" name="busquedaString" value="@valorBusquedaString" />
        <button type="submit" class="btn btn-primary"><i class="fas fa-download"></i></button>
    </form>

</div>


<table class="table table-hover table-bordered mt-4">
    <thead>
        <tr class="bg-success text-white bg-gradient">
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Estudiante.Nombre)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Estudiante.Apellido)
            </th>
            <th class="text-center">
                Evento
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Evento.FechaHoraInicio)
            </th>
            <th class="text-center">
                Fecha de asistencia
            </th>
            <!--th class="text-center">
                Operaciones
            </th-->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudiante.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudiante.Apellido)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Evento.Nombre)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Evento.FechaHoraInicio)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.FechaHoraRegistro)
                </td>
                <!--td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fas fa-user-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fas fa-user-times"></i></a>
                </td-->
            </tr>
        }
    </tbody>
</table>


@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                 new PagedListRenderOptions
                        {
                            LiElementClasses = new[] { "page-item" },
                            PageClasses = new[] { "page-link" }
                        })
